@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Nuosu+SIL&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nuosu SIL', serif;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    gap: 35px;
}

/* #region */

.header {
    width: 100%;
    display: grid;
    background:  #f5f5f5;
    grid-template-rows: 70px 600px 220px;
    gap: 30px;
}

.nav-bar {
    display: grid;
}
.nav-bar__list {
    display: grid;
    list-style: none;
    grid-template-columns: 0.8fr 0.2fr 0.3fr 0.3fr 0.2fr 3fr 0.5fr ;
    align-items: center;
    gap: 20px;
}

.nav-bar__list__item {
    display: grid;
    justify-content: center;
}

.nav-bar__list__item--end {
    display: grid;
    justify-content: end;
}

.nav-bar__list__item--start {
    display: grid;
    justify-content: start;
}

.nav-bar__list__item__brand, .nav-bar__list__item__phone {
    color: #7293aa;
    font-size: 30px;
    align-self: center;
}

.nav-bar__list__item__link, .nav-bar__list__item__login {
    color: black;
    font-size: 18px;
}

.nav-bar__list__item__link:hover, .nav-bar__list__item__login:hover {
    box-shadow: inset 1px 1px 1px 20px rgba(128,128,128,0.35);
    transition: 0.5s ease-out;
    border-radius: 50%;

}

.header-main {
    display: grid;
    grid-template-columns: 40% 30%;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

.main__image {
    width: 75%;
    height: 75%;
}

.header-main__description {
    display: flex;
    flex-direction: column;
    width: 460px;
    gap: 30px;
}

.header-main__description__title {
    color: #009697;
    font-size: 45px;
    font-weight: 600;
}

.header-main__description__text {
    font-size: 18px;
    width: 90%;
}

.header-main__description__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-main__description__form__input {
    padding: 15px 10px;
    font-size: 14px;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 60%;
}

.header-main__description__form__button {
    font-size: 14px;
    width: 35%;
    background-color: #009697;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.header-main__description__golden {
    font-family: 'Arimo', sans-serif;
    color: #a5823d;
    font-size: 20px;
    width: 245px;
    font-weight: bold;
    border-bottom: 5px solid #a5823d;
    padding-bottom: 1px;
    cursor: pointer;
}

.header-main__description__golden:hover {
    color: #e7a729;
    border-bottom: 5px solid #e7a729;
    transition: 0.3s ease-in-out;
}

.underlined{
    border-bottom: 2px solid #009697;
}

.header-main__left-side__slider {
    text-align: center;
    width: 75%;
    margin: 10px 0;
}

.header-main__left-side__slider__circle {
    color: lightgray;
    font-size: 25px;
    cursor: pointer;
}

.header-main__left-side__slider__circle:hover {
    color: gray;
    transition: 0.2s ease-in-out;
}

.trand-container {
    display: grid;
    grid-template-rows: 20px 120px 20px;
    gap: 20px;
}

.trand-container__title {
    color: #e7a729;
    padding-left: 120px;
}

.trand-container__examples {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    text-align: center;
    padding: 0 120px;
    gap: 0 10px;
}

.trand-container__examples img {
    width: 110px;
    height: 130px;
}

.trand-container__examples__names__link {
    color: black;
    font-size: 18px;
}


/* #endregion */


.help-container {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "info info"
    "examples examples"
    "slider slider"
    "buttons buttons"
    ;
    grid-template-rows: 150px 500px 600px 200px;
}

.help-container__info{
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    gap: 10px;
}

.help-container__info__title {
    font-size: 45px;
}

.help-container__info__underlined {
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}


.grid {
    border: 2px solid black;
}

.help-container__examples {
    grid-area: examples;
    display: flex;
    justify-content: space-evenly;
}

.help-container__examples__left {
    border: 2px solid red;
}

.help-container__examples__left, .help-container__examples__right {
    width: 30%;
}

.help-container__slider {
    grid-area: slider;
    display: flex;
    width: 100%;
}

.help-container__buttons {
    grid-area: buttons;
    width: 30%;
}