@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Nuosu+SIL&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nuosu SIL', serif;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    display: grid;
    gap: 35px;
    overflow: hidden;
}

/* #region */

.header {
    width: 100%;
    display: grid;
    background:  #f5f5f5;
    grid-template-rows: 70px 600px 220px;
    gap: 30px;
}

.nav-bar {
    display: grid;
}
.nav-bar__list {
    display: grid;
    list-style: none;
    grid-template-columns: 0.8fr 0.2fr 0.3fr 0.3fr 0.2fr 3fr 0.5fr ;
    align-items: center;
    gap: 20px;
}

.nav-bar__list__item {
    display: grid;
    justify-content: center;
}

.nav-bar__list__item--end {
    display: grid;
    justify-content: end;
}

.nav-bar__list__item--start {
    display: grid;
    justify-content: start;
}

.nav-bar__list__item__brand, .nav-bar__list__item__phone {
    color: #7293aa;
    font-size: 30px;
    align-self: center;
}

.nav-bar__list__item__link, .nav-bar__list__item__login {
    color: black;
    font-size: 18px;
}

.nav-bar__list__item__link:hover, .nav-bar__list__item__login:hover {
    text-shadow: 8px 1px 5px #808080;
    transition: 0.5s ease-out;
}

.header-main {
    display: grid;
    grid-template-columns: 40% 30%;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

.main__image {
    width: 75%;
    height: 75%;
}

.header-main__description {
    display: flex;
    flex-direction: column;
    width: 460px;
    gap: 30px;
}

.header-main__description__title {
    color: #009697;
    font-size: 45px;
    font-weight: 600;
}

.header-main__description__text {
    font-size: 18px;
    width: 90%;
}

.header-main__description__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-main__description__form__input {
    padding: 15px 10px;
    font-size: 14px;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 60%;
}

.header-main__description__form__button {
    font-size: 14px;
    width: 35%;
    background-color: #009697;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.header-main__description__golden {
    font-family: 'Arimo', sans-serif;
    color: #a5823d;
    font-size: 20px;
    width: 250px;
    font-weight: bold;
    border-bottom: 5px solid #a5823d;
    padding-bottom: 1px;
    cursor: pointer;
}

.header-main__description__golden:hover {
    color: #e7a729;
    border-bottom: 5px solid #e7a729;
    transition: 0.3s ease-in-out;
}

.header__title__underlined{
    border-bottom: 2px solid #009697;
}

.header-main__left-side__slider {
    text-align: center;
    width: 75%;
    margin: 10px 0;
}

.header-main__left-side__slider__circle {
    color: lightgray;
    font-size: 25px;
    cursor: pointer;
}

.header-main__left-side__slider__circle:hover {
    color: gray;
    transition: 0.2s ease-in-out;
}

.trand-container {
    display: grid;
    grid-template-rows: 20px 120px 20px;
    gap: 20px;
}

.trand-container__title {
    color: #e7a729;
    padding-left: 120px;
}

.trand-container__examples {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    text-align: center;
    padding: 0 120px;
    gap: 0 10px;
}

.trand-container__examples img {
    width: 110px;
    height: 130px;
}

.trand-container__examples__names__link {
    color: black;
    font-size: 18px;
}


/* #endregion */

/* #region */

.help-container {
    display: grid;
    width: 100%;
    gap: 25px;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "info info"
    "examples examples"
    "slider slider"
    "buttons buttons";
    
    grid-template-rows: 170px 450px 620px 100px;
}

.help-container__info{
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 0 auto;
    gap: 10px;
}

.help-container__info__title {
    font-size: 45px;
}

.help-container__info__text {
    font-size: 18px;
}

.underlined {
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

.help-container__examples {
    grid-area: examples;
    display: flex;
    justify-content: space-evenly;
}

.help-container__examples__left, .help-container__examples__right {
    display: grid;
    grid-template-rows: 300px 100px;
}

.help-container__examples__left__img {
    background-image: url(../img/start_a_contest.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.help-container__examples__right__img {
    background-image: url(../img/creeper.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.help-container__examples__left, .help-container__examples__right {
    width: 25%;
}

.help-container__examples__right__description, .help-container__examples__left__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.help-container__examples__right__description__title, .help-container__examples__left__description__title {
    font-size: 20px;
}


.help-container__examples__right__description {
    position: relative;
}

.help-container__examples__right__description__absolute {
    position: absolute;
    top: -20px;
    right: 0;
    font-style: italic;
}


.help-container__slider {
    grid-area: slider;
    position: relative;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    gap: 300px;
}

.help-container__slider__arrow-left, .help-container__slider__arrow-right {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #a5823d;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 100px/2);
    z-index: 2;
    cursor: pointer;
}

.help-container__slider__arrow-left {
    left: 0;
}

.help-container__slider__arrow-left:hover, .help-container__slider__arrow-right:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
} 

.help-container__slider__arrow-right {
    right: 25px;
}

.arrow-center {
    position: relative;
    top: -10px;
    color: white;
    font-size: 50px;
    font-weight: 950;
}

.help-container__slider__left {
    display: flex;
}

.help-container__slider__left__image1 img{
    height: 600px;
}

.help-container__slider__left__images img {
    height: 300px;
}

.help-container__slider__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.help-container__slider__right__title {
    color: #a5823d;
    font-size: 35px;
    width: 60%;
}

.help-container__slider__right__text {
    width: 60%;
    font-size: 20px;
}


.help-container__slider__right__profile {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
    padding-left: 30px;
}

.help-container__slider__right__profile__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../img/people/woman.jpg);
    background-position: center;
    background-size: contain;
}

.help-container__slider__right__profile__name {
    width: 50%;
    font-size: 16px;
    font-style: italic;
}


.help-container__buttons {
    grid-area: buttons;
    width: 30%;
    height: 60px;
    display: flex;
    margin: 0 auto;
    gap: 50px;
}

.help-container__buttons-left, .help-container__buttons-right {
    width: 40%;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.help-container__buttons-left {
    background-color: #a5823d;
    color: white;
}

.help-container__buttons-right {
    border: 2px solid #a5823d;
    color: #a5823d;
    background-color: white;
}

/* #endregion */

/* #region */
.categories-conteiner {
    display: grid;
    gap: 30px;
    grid-template-columns: auto;
    grid-template-rows: 200px 530px 100px;
    grid-template-areas: 
    "info info info info"
    "slide slide slide slide"
    "rated rated rated rated";
}

.categories-conteiner__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 50px;
    gap: 30px;
}

.categories-conteiner__info__title {
    font-size: 45px;
}

.categories-conteiner__info__description {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.categories-conteiner__info__description__text {
    font-size: 20px;
    width: 50%;
}

.categories-conteiner__info__description__button {
    font-size: 20px;
    padding: 25px 20px;
    color: white;
    background-color: #000000;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
}

.categories-conteiner__info__description__button:hover {
    opacity: 0.6;
    transition: 0.2s ease-in-out;
}


.categories-conteiner__slider {
    grid-area: slide;
    display: flex;
    gap: 100px;
    margin-left: -200px;
    overflow: hidden;
}

.categories-conteiner__slider__slide {   
    width: 500px;
    height: 500px;
    cursor: pointer;
    position: relative;
}

.categories-conteiner__slider__slide img{
    width: 500px;
    height: 100%;
}

.slide-author {
    font-style: italic;
}

.slide-hovered {
    position: absolute;
    top: 0;
    background: #637d64;
    width: 500px;
    height: 500px;
    color: #ffffff;
    padding: 100px 50px;
    opacity: 0.9; 
    display: none;
}

.hovered:hover .slide-hovered {
    display: block;
}


.slide-hovered__title {
    font-size: 30px;
    margin-bottom: 15px;
}

.slide-hovered__text {
    font-size: 18px;
}

.slide-hovered__btn {
    margin-top: 35px;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: 950;
    cursor: pointer;
}

.slide-hovered__btn__arrow {
    font-size: 30px;
}

.categories-conteiner__ranking {
    grid-area: rated;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    gap: 20px;
}

.categories-conteiner__ranking__vote {
    color: #000000;
}

.categories-conteiner__ranking__vote:hover {
    color: #e7a729;
    transition: 0.3s ease-in-out;
}

.stars {
    font-size: 40px;
    cursor: pointer;
}

.categories-conteiner__ranking__description {
    font-size: 18px;
}

.reviews-link {
    color: #000000;
    text-decoration: underline;
    opacity: 0.6;
}

/* #endregion */