*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-size: 1.1vw;
}
.group-section, .offer-section, .table-section, .offer-section-2nd, .our-news {
  padding:0 5rem;
  width: 100%;
}
.group-section, .table-section, .our-news{
  background-color: #FBF8FA;
}
.offer-section, .table-section, .offer-section-2nd{
  padding: 3rem 5rem;
}
/*====================HEADER====================*/
header{
  width: 100%;
  padding-bottom: 10rem;
  position: relative;
  background-color: #FCF9FA;
  z-index: 1;
}
nav{
  padding-top: 2%;
  margin:0 0 5% 20%;
  width: 75%;
  z-index: 10;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;

}
nav ul li{
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.3vw;
  color: black;
}
.img-header-part{
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/wheat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 35%;
  height: 100%;
  z-index: -1;
}
.info-header-part{
  margin-left: 35%;
  width: 60%;
  font-size: 2.8vw;
  font-weight: 100;
}
.info-header-part button{
  margin-top: 5%;
  width: 25%;
  height: 3rem;
  background: none;
  border: none;
  border-left: 0.15rem solid #65aa44;
  border-right: 0.15rem solid #65aa44;
  font-size: 1vw;
}
.info-header-part button:hover{
  cursor: pointer;
}
.title-text{
  color: #e2ba7b;
  text-decoration: none;
}
/*=============================================*/
/*=================GROUP========================*/
.title-section{
  width: 100%;
  border-left: 0.5rem solid #65aa44;
  border-bottom: 0.125rem solid #65aa44;
  padding: 0 0 0.5rem 0.5rem;
  font-size: 1.7vw;
  margin-bottom: 1.5rem;
  font-weight: 300;
}
.group-section-description{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.group-description-part{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 3rem;
}
.group-description-part h2{
  color: #32B94C;
  font-weight: 1000;
  margin-bottom: .9375rem;
}
/*==============================================*/
/*=================OFFER========================*/
.offer-section p:not(.offer-example p){
  margin-bottom: 1.5rem;
}
.offer-services-container, .offer-service{
  display: flex;
}
.offer-service{
  margin-right: 7rem;
  height: 15%;
  align-items: center;
  width: 20%;
}
.offer-example{
  display: flex;
}
.logo{
  margin-right: 1rem;   
}
.offer-example p{
  font-weight: 600;
}
/*==============================================*/ 
/*===================TABLE======================*/
  .price-table{
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    margin: 2rem 0;
    text-align: center;
    font-size: 0.8vw;
  }
  .price-table td, .price-table th{
    border: 0.1rem solid #e2ba7b;
    padding: 0.5rem 0.938rem;
  }
  .price-table tr td:first-child{
    font-weight: bold;
  }
  .table-section p:last-child{
    font-style: italic;
  }
/*==============================================*/
/*=================OFFER#2======================*/
.offer-section-2nd p{
  margin-bottom: 2rem;
}
.offer-section-2nd ul{
  padding-left: 2rem;
}
.offer-section-2nd ul li{
  list-style-type: none;
}
.offer-section-2nd ul li:before{
    font-weight: 800;
    font-size: 1.4vw;
    color: #e2ba7b; 
    content: "•"; 
    padding-right: 0.5rem;
   
}
/*==============================================*/
/*=================Our=news=====================*/
.our-news{
  padding: 2rem 5rem;
}
.news-container{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.news-section{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 32%;
  background-color: #FFFFFF;
  box-shadow: 0rem 0rem 0.75rem 0rem rgba(125, 122, 125, 0.7);
}
.news-section-img-1, .news-section-img-2, .news-section-img-3{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 25%;
}
.news-section-img-1{
  background-image: url(../img/wheat-1.jpg);
}
.news-section-img-2{
  background-image: url(../img/tax.png);
}
.news-section-img-3{
  background-image: url(../img/wheat-2.jpg);
}
.news-section-description{
  width: 72%;
  line-height: 120%;
}
.news-date{
  font-style: italic;
}
/*==============================================*/
/*==================FOOTER======================*/
footer{
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-around;
  padding:1rem 0 5rem 0;
}
h5{
  font-size: 1.4vw;
}
.contacts{
  display: flex;
  flex-direction: column;
}
.contacts-container{
  display: flex;
  flex-direction: column;
}
.contacts img{
  width: 3rem;
  height: 3rem;
  margin: 1rem 0;
}
.footer-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.footer-info-p-1{
  width: 38%;
  display: flex;
  justify-content: space-between;
}
.footer-info{
  width: 26%;
  display: flex;
  justify-content: space-between;
}
.f-i-d-p{
  margin-bottom: 1rem;
}
.footer-info-title{
  max-width: 40%;
}
.footer-info-description{
  padding-top: 0.25rem;
}
/*==============================================*/

/*===================MEDIA======================*/
/*================MEDIA=TABLET==================*/
@media(max-width:991px){
body{
  font-size: 2vw;
}
nav{
  width: 75%;
}
nav ul li{
  width: 18%;
  text-align: center;
}
nav ul li a { 
  font-size: 2.2vw;
}
.img-header-part{
  width: 52%;
}
.info-header-part{
  margin-left: 35%;
  width: 65%;
  font-size: 3.5vw;
  line-height: 140%;
  padding-top: 5%;
}
.info-header-part button{
  width: 23%;
  font-size: 1.5vw;
  font-weight: 500;
}
.title-section{
  font-size: 3.2vw;
}
.offer-section{
  height: 60vh;
}
.offer-services-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50%;
  }
.offer-services-container > *{
  flex: 1 1 60px;
}
.price-table{
  font-size: 1.5vw;
}
.offer-section-2nd ul li:before{
  font-size: 2.5vw;
}
.news-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-section{
  width: 100%;
  margin-bottom: 30px;
}
.news-section-description p{
  margin-top: 30px;
}
h5{
  font-size: 2vw;
}
.contacts-container{
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
}
.contacts-container a img{
  width: 30px;
  height: 30px;
}
footer{
  padding-left: 50px;
}
footer, .footer-container{
  flex-direction: column;
}
.footer-info-p-1, .footer-info{
  width: 100%;
  justify-content: start;
}
.footer-info-title, .footer-info-description{
  width: 50%;
}
}
/*==============================================*/

/*================MEDIA=MOBILE==================*/
@media(max-width:769px){.table-section{
  display: none;
}}

/*==============================================*/