@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html{
  overflow-x: hidden;
}

body{
  width: 100%;
  background-color: #E5E5E5;
  min-width: 1100px;
  max-width: 1980px;
  display: flex;
  flex-direction: column;
}

main{
  display: flex;
  flex-direction: column;
  margin: 5% 0;
  width: 100%;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

/*============header===============*/
.header-nav ul li {
  list-style: none;
}

.header-nav ul li a {
  text-decoration: none;
} 

header{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 100vh;
  width: 100%;
}

.top-header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 15vh;
}

.logo{
  height: 30%;
  width: 13%;
  background-image: url(../img/logo.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.header-nav{
  width: 65%;
  height: 100%;
}
  .header-nav ul{
    display: flex;
    width: 62%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .header-nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50%;
    text-align: center;
  }

  .header-nav ul li a{
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
    font-size: 100%;
  }

  .order-button{
    font-size: 80%;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin-left: auto;
    width: 15%;
    height: 35%;
    background-color: #01B6D4FC;
    border: none;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.8);
  }

/*=================================*/

/*==========main-section===========*/

.main-section{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 85vh;
  background: rgba(196, 196, 196, 0.68);
  position: relative;
  z-index: 1;
  padding: 10%;
}

.main-section h1{
  font-weight: 500;
  font-size: 2000%;
  line-height: 100%;
}

.main-section h2{
  font-weight: 500;
  color: #ffffff;
  font-size: 300%;
  text-transform: uppercase;
  width: 50%;
  margin-bottom: 4%;
}

.main-section p{
  text-transform: lowercase;
  font-weight: 600;
  color: #ffffff;
  font-size: 148%;
  width: 20%;
  opacity: 0.8  ;
}
.main-section p+p{
  width: 30%;
}

.upper-image{
  position: absolute;
  top: 20%;
  left: 67%;
  width: 80%;
  height: 60%;
  background-image: url(../img/main.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/*========================================*/

/*===========sections with cats============*/

.section{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.section-desciption{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section-description h2{
  color: #079fd0;
  font-size: 250%;
  font-weight: 400;
}

.image-section-1, .image-section-2{
  width: 45%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-section-1{
  background-image: url(../img/cat1.png);
}
.image-section-2{
  background-image: url(../img/cat2.png);
}

/*============================================*/

/*============== examples block ==============*/

.additionals{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.additionals h2{
  color: #079fd0;
  font-size: 250%;
  font-weight: 400;
}

.examples{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  height: 70vh;
}

.example{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
}

.example-1-logo, .example-2-logo, .example-3-logo{
   width: 100%;
   height: 45%;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

.example-1-logo{
  background-image: url(../img/ebo1.jpg);
}
.example-2-logo{
  background-image: url(../img/ebo2.jpg);
}
.example-3-logo{
  background-image: url(../img/ebo3.jpg);
}

.example-info{
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example h3{
  width: 80%;
  color: #079fd0;
  font-weight: 400;
  font-size: 200%;
}

.example p{
  width: 81%;
  font-size: 140%;
  line-height: 152%;
}

.button-for-main{
  width: 50%;
  color: #079fd0;
  font-weight: 500;
  font-size: 120%;
  display: flex;
  align-items: center;
}

.button-for-main button{
  text-transform: uppercase;
  color: #079fd0;
  font-weight: 500;
  font-size: 120%;
  border: none;
  background-color: #E5E5E5;
}
.button-for-main span{
  margin-left: 3%;
  font-size: 160%;
  text-align: center;
}
/*============================================*/

/*===============footer=======================*/
footer{
  width: 100%;
  height:30vh;
  background: rgba(196, 196, 196, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
}

.info-cont{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.footer-info{
  width: 20%;
}

.footer-info ul li{
  text-decoration: none;
  list-style: none;
  margin-bottom: 5%;
}

.footer-info ul li a{
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}

.footer-end{
  display: block;
  margin-left: auto;
}
.footer-end p{
  font-weight: 600;
}